/*  MALWARE - Main CSS style
 *  v0.0.3 | 20160224
 *
 *
 *
 */



html {
	margin-left: 25%;
}

/* User Interface */

#interface {
    color: black;
    box-sizing: border-box;
    padding: 20px;
	position: fixed;
	top: 0; left: 0;
	width: 25%;
	text-align: right;
	overflow-y: visible;
    font-family: "Cooper Hewitt", sans-serif;
    color: #000;
}

.inactive {
    opacity: 0.3;
    cursor: not-allowed;
}
form {
	font-size: 10pt;
	line-height:10pt;
}

form div label{
    font-size: 10pt;
}

form div select {
	vertical-align: text-top;
}

form h4 {
	margin:10px 0px 0px 0px;

	font-size: 14pt;
	font-weight: bold;
	line-height: 16pt;
}

div[class^="CodeMirror-"]{
    font-size: 8pt !important;
    font-family: "Anonymous Pro", monospace !important;
}

/* Output */

.page {
	position: relative;
	box-sizing: border-box;
	zoom:0.5;
	-moz-transform:  scale(0.5,0.5);
	-moz-transform-origin: top left;

	display: inline-block;
	float: left;

	width: 210mm;
	height: 297mm;

	margin-top: 20px;
    margin-left: 7mm;

	padding: 17mm 8mm;

	border: 1px solid rgba(0,0,0,0.3);

	box-shadow: 2px 2px 0px black,4px 4px 0px white,6px 6px 0px black,8px 8px 0px white,10px 10px 0px black;
	overflow: hidden;
}

#planches .page {
	margin: 0;
	box-shadow: none;
}

.page em {
	font-style: italic;
}

/* Help */

#post-it{
    position: absolute;
    z-index: 999;
    cursor:grab;
    margin: 50px;
	width: 350px;
	height: 355px;
	background-color: #fcf98d;
	color: #333366;
}

#selecteur{
	width: 120px;
	height: 350px;
	float: left;
	font-family: "Anonymous Pro";
	font-size: 8pt;
	padding: 2%;
	font-weight: bold;
}

#exemple{
	width: 340px;
	height: 300px;
	font-size: 8pt;
	padding: 2%;
}

#post-it p{
	font-family: "Cooper Hewitt";	
}

#post-it h4{
	font-family: "Anonymous Pro";
	font-weight: bold;
}

#post-it h1{
	font-family: "Cooper Hewitt";
	padding: 3%;
	font-weight: bolder;
}

#post-it a {
    font-family: "Cooper Hewitt";
    position: absolute;
    top: 5px;
    right: 5px;
    color: #333366;
}

@page {
	size:A4 portrait;
}

@media print{

	html {
		margin: 0;
	}

	#interface,form{
		display: none;
	}

	#preview {
		position: static;
		left: 0;
		width: 100%;
	}

	.page {
		box-sizing: border-box;
		zoom:1;
		-moz-transform:  scale(1,1);

		float: none;
		clear: both;
        
		/* Find a way to do minus padding to width and height ...*/
		border: none;
		box-shadow: none;

		page-break-before: always;
		page-break-inside: avoid;
		page-break-after: always;
	}

}
