html {
	font-family: "Anonymous Pro", cursive;
}

form {
	display: inline-block;
	float: left;
	width: 500px;

	text-align: right;
	font-size: 10pt;
	line-height:10pt;
}

form div {
	margin: 0px 0px 10px 0px;
}

form div em {
	font-size: 8pt;
	font-style: italic;
}

form div select {
	vertical-align: text-top;
}

option {
	width: 100px;
	height: 10px;

	color: #000;
	font-family: "Anonymous Pro", cursive;
	font-weight: bold;
	text-align: center;
}

h4 {
	margin:30px 0px 10px 0px;

	font-size: 18pt;
	font-weight: bold;
	line-height: 20pt;
}
 Hack ?
.page h1,h2,p {
	float: none;
}

.page {
	zoom:0.5;

	display: inline-block;
	float: left;

	width: 210mm;
	height: 290mm;

	left: 500px;
	top: 100px;

	margin: 50px 0px 0px 150px;

	padding: 17mm 8mm;

	border: 1px solid rgba(0,0,0,0.3);

	box-shadow: 2px 2px 0px black,4px 4px 0px white,6px 6px 0px black,8px 8px 0px white,10px 10px 0px black;
}

.page em {
	font-style: italic;
}

@media print{

	form{
		display: none;
	}
	* {
		float:none;
	}

	.page {
		zoom:1;
		margin: 0;
		height: 284mm;
		// Find a way to do minus padding to width and height ...
		border: none;

		page-break-before: always;
		page-break-inside: avoid;
		page-break-after: always;
	}

}
